## .gitignore
.DS_Store

scripts/lib/__pycache__/*

scripts/test_tag_api.py
scripts/convert_to.py

scripts/extractors/test_cases/
scripts/extractors/root_check/
scripts/extractors/TH_no_root_allt.txt
scripts/extractors/TH_too_many_roots_allt.txt

verb_clitic_list.txt
validate_log.txt

out/
out_test/
testing/
*_bkp/
test_case_kynvera/

psd/corpora/micepahc/
psd/corpora/additions2019
psd/corpora/icepahc-v0.9/psd_fix/

krot.tsv

test_reader.py
runall.py
